[Desktop Entry]
Version=1.0
Type=Application
Name=PrintSepeti
Icon=printsepeti
Exec=/opt/printsepeti/printsepeti
Comment=PrintSepeti
Categories=Network;Chat;
Terminal=false
