[Desktop Entry]
Version=1.0
Type=Application
Name=Print Sepeti
Icon=printsepeti
Exec=/opt/printsepeti/printsepeti
Comment=Print Sepeti
Categories=Network;Chat;
Terminal=false
